<ul>
    <li ng-class="{active: activetab=='/dashboard'}">
        <a ng-href="dashboard">Dashboard</a>
    </li>
    <li class="hidden">
        <a ng-href="tours">Tours</a>
        <ul>
            <li><a ng-href="tours">View All Tours</a></li>
            <li><a ng-href="tours/add">Add New Tour</a></li>
        </ul>
    </li>
    <li>
        <a ng-href="stops">Stops</a>
        <ul>
            <li ng-class="{active: activetab=='/stops'}"><a ng-href="stops">View All Stops</a></li>
            <li ng-class="{active: activetab=='/stops/add'}"><a ng-href="stops/add">Add New Stop</a></li>
        </ul>
    </li>
</ul>