<div class="login-form row">
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <form class="well"> 
            <h2>Login</h2>
            <label for="email">Email</label>
            <input class="form-control input-lg" id="email" type="text" ng-model="loginEmail" />
            
            <label for="password">Password</label>
            <input class="form-control input-lg" id="password" type="password" ng-model="loginPassword" />
            
            <button class="btn btn-default btn-block btn-lg" ng-click="authenticate()">Login</button>
        </form>
    </div>
</div>